[jobinfo]
created_at=2018-06-06 14:04:14
title=test 2

[version]
FUMA=v1.3.1
MAGMA=v1.06

[params]
snp2geneID=154
inputfile=NA
ensg_id=0
datasets=Allen_Mouse_ALM_level1_log2RPKM:Allen_Mouse_ALM_level2_log2RPKM:Allen_Mouse_LGd_level1_log2RPKM:Allen_Mouse_LGd_level2_log2RPKM:Allen_Mouse_VIp_level1_log2RPKM:Allen_Mouse_VIp_level2_log2RPKM
