/vendor
/node_modules
/storage/jobs/
/storage/data/
/storage/gwas/
Homestead.yaml
Homestead.json
.env
.DS_Store
/database/jobs.table
storage/scripts/app.config
storage/example/
storage/gene2func/
storage/scripts/gwas_file.pl
storage/scripts/geneDist.py
storage/JobReport.html
