#<IfModule mod_rewrite.c>
#    <IfModule mod_negotiation.c>
#        Options -MultiViews
#    </IfModule>
#
#    RewriteEngine On
#
#    # Redirect Trailing Slashes If Not A Folder...
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteRule ^(.*)/$ /$1 [L,R=301]
#
#    # Handle Front Controller...
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteRule ^ index.php [L]
#
#    # Handle Authorization Header
#    RewriteCond %{HTTP:Authorization} .
#    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
#</IfModule>


<IfModule mod_rewrite.c>
   RewriteEngine on

   # Display a "down" page to all but the specified IP addresses. 1.2.3.4 is an example, edit and replace with your own IP address.
   # RewriteCond %{REMOTE_HOST} !^1\.2\.3\.4$
   # RewriteRule !downpage\.html /downpage.html [R=302,L]

   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_FILENAME} !-d

   RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
