# Example config file. Create app.config with the correct settings.

[inputfiles]
gwas=input.gwas
leadSNP=input.lead
regions=input.reagions
params=params.txt

[magma]
magmadir=/path/to/magma

[annovar]
annovdir=/path/to/annovar
