[inputfiles]
gwas=input.gwas
leadSNP=input.lead
regions=input.reagions
params=params.txt

[data]
dbSNP=/media/sf_SAMSUNG/dbSNP
chr15=/media/sf_Documents/VU/Data/Chr15States/States
refgenome=/media/sf_SAMSUNG/1KG/Phase3
ENSG=/media/sf_Documents/VU/Data
GeneSet=/media/sf_Documents/VU/Data/GeneSet
GTEx=/media/sf_SAMSUNG/GTEx/Tabix
QTL=/media/sf_SAMSUNG
GWAScat=/media/sf_Documents/VU/Data/GWAScatalog
GTExExp=/media/sf_Documents/VU/Data/GTEx
scripts=/media/sf_Documents/VU/Data/WebApp/IPGAP/storage/scripts
geneIDs=/media/sf_Documents/VU/Data/WebApp/IPGAP/storage/data

[magma]
magmadir=~/Software/MAGMA
magmafiles=/media/sf_SAMSUNG/MAGMA

[annovar]
annovdir=~/annovar
