# Example config file. Create app.config with the correct settings.

[inputfiles]
gwas=input.gwas
leadSNP=input.lead
regions=input.regions
params=params.txt

[data]
dbSNP=/mnt/g/FUMA_data/dbSNP
chr15=/data/Chr15States
refgenome=/mnt/g/FUMA_data/MAGMA/1KG/Phase3
ENSG=/data/ENSG.file.txt
GeneSet=/data/GeneSet
GTEx=/mnt/g/FUMA_data/QTL/GTEx
QTL=/mnt/g/FUMA_data/QTL
GWAScat=/data/GWAScatalog
GTExExp=/mnt/g/FUMA_data/MAGMA/GTEx
scripts=/var/www/IPGAP/storage/scripts
geneIDs=/data/genes
geneScores=/data/geneScores
circos_config=/data/circos

[magma]
magmadir=/mnt/g/Projects/FUMA-main/magma/magma
magmafiles=/mnt/g/FUMA_data/MAGMA

[annovar]
annovdir=/home/kyoko/bin/annovar
humandb=/data/annovar/humandb

[CI]
CIdata=/data/CI
RoadmapData=/data/Roadmap
