# Example config file. Create app.config with the correct settings.

[inputfiles]
gwas=input.gwas
leadSNP=input.lead
regions=input.regions
params=params.txt

[data]
dbSNP=/data/dbSNP
chr15=/data/Chr15States
refgenome=/data/1KG/Phase3
ENSG=/data/ENSG.file.txt
GeneSet=/data/GeneSet
GTEx=/data/QTL/GTEx
QTL=/data/QTL
GWAScat=/data/GWAScatalog
GTExExp=/data/GeneExp/GTEx
scripts=/var/www/IPGAP/storage/scripts
geneIDs=/data/genes
geneScores=/data/geneScores
circos_config=/data/circos

[magma]
magmadir=/home/kyoko/bin/MAGMA
magmafiles=/data/MAGMA

[annovar]
annovdir=/home/kyoko/bin/annovar
humandb=/data/annovar/humandb

[CI]
CIdata=/data/CI
RoadmapData=/data/Roadmap
